@font-face {
	font-family: 'Kaushan Script'; /*Nom que je pourrais réutiliser plus tard*/
	src: url('../fonts/KaushanScript-Regular.otf'); /*Localisaiton de ma police*/
}
body {
	width: 600px; /* largeur maximale du texte de 600px */
	background-color: #838892; /* fond de culeur #838892 */
	line-height:150%; /* hauteur de ligne de 150% */
}
h1 {
	text-align:center; /* texte centré */
	font-family:'Kaushan Script'; /*Police Kaushan Style utilisée */
}
h3 {
	font-style:italic; 
	color:blue;
	/* <h3> en italique et de couleur bleu. */
}
p {
	text-indent:15px /* 5 pixels d'indentation */
}
.paire {
	background-color:#5BBDBF;
}
.impaire {
	background-color:#FF5850;
}
.skill {
	font-style:italic; 
	color:red;
}
#beware {
	height:300px; /* hauteur maximale de beware = 300px */ 
}